/* form.module.css */

.form {
  border: 1px solid #888;
  border-radius: 0.5rem;
  padding: 1rem;
}

.fields {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.fields label {
  width: 6rem;
  flex-shrink: 0;
  flex-grow: 1;
  font-size: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 1rem;
  margin-right: 1rem;
}

/* Apparently we have to use 16px font size to prevent iOS from zooming in on the input fields,
 * which is completely ridiculous. Thanks, Apple.
 * See https://stackoverflow.com/questions/2989263/disable-auto-zoom-in-input-text-tag-safari-on-iphone
 */
.textField, .textArea {
  min-width: 70%;
  flex-grow: 1;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  font-size: 16px;
  border: 1px solid var(--color-border);
  border-radius: 0.2rem;
  margin-bottom: 1rem;
}

.textField {
  height: 3rem;
}

.textArea {
  height: 8rem;
}

@media (max-width: 439px) {
  .fields label {
    margin-bottom: 0.2rem;
  }
}

