/* product.module.css */

.coreContainer {
  display: flex;
  padding: 3rem 0 1rem 0;
}

.mainImage {
  flex-shrink: 0;
}

.mainImage img {
  object-fit: contain;
}

.coreInfo {
  padding-left: 2rem;
}

.coreInfo h1 {
  margin:0;
  line-height: 1.4rem;
}

.coreInfo ul {
  padding-inline-start: 1.2rem;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  font-size: .9em;
}

.purchasing {
  display: flex;
  flex-wrap: wrap;
}

.selectContainer {
  position:relative;
}

.purchasingOptions {
  color: black;
  border: 1px solid black;
  font-size: 0.9rem;
  padding: 0.6rem 1.5rem 0.6rem 0.6rem;
  margin: 1rem 1rem 0 0;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  -webkit-appearance: none;
}

.selectContainer::after {
  content: '▽';
  position: absolute;
  right: 1.5rem;
  top: 1.3rem;
  font-size: 1rem;
  pointer-events: none;
  z-index: 9;
  color: black;
}

.purchasing .amountManager {
  margin: 1rem 1rem 0 0;
}

.amountManager {
  display: flex;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  font-size: 0.9rem;
}

.amountManager button {
  border-radius: 0;
  border: 1px solid black;
  font-family: Menlo, Monaco, Consolas, Liberation Mono, Lucida Console, monospace;
  width: 2rem;
}

.amount {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.4rem 0.6rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.addToCart {
  margin: 1rem 1rem 0 0;
}

.status {
  font-size: 0.7em;
  color: #333;
}

@media (max-width: 619px) {
  .coreContainer {
    display: block;
    padding: 2rem 0 0 0;
  }
  .mainImage {
    display:flex;
    flex-direction:column;
    align-items:center;
  }
  .coreInfo {
    padding: 1.2rem 0 0 0;
  }
  .coreInfo h1 {
    text-align:center;
  }
}